<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <!-- Materialice CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    <title>Rescate de Patitas</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper purple darken-4">
            <a href="/" class="brand-logo">Rescate de patitas</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Mascotas buscando dueño</a></li>
                <li><a href="badges.html">Mascotas perdidas</a></li>
                <li><a href="collapsible.html">Quiero adoptar</a></li>
            </ul>
        </div>
    </nav>
    <br />
    <br />
    <div class="row">
        <div class="col s12">
            <h2>Ajustes de la plataforma</h3>
        </div>
        <div class="div">
            <h3>Preguntas de registro de mascotas</h3>
            {{#each org.preguntasRequeridas}}
                <p>1</p>
            {{/each}}

        </div>
    </div>

</body>