<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
    <meta charset="utf-8">
    <title>Rescate de Patitas</title>
  </head>
  <body>

    <!-- HEADER -->
    <header>
      <div>
        <!--<img src="img/logo.png" alt="logo-header">-->
        <nav class="main-nav">
          <ul>
            <li>Registrar mascotaRegistrada</li>
            <li>Adoptar mascotaRegistrada</li>
            <li>Dar en adopción</li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- IMG PRINCIPAL -->
    <!--<img src="img/imagen.png" alt="imagen-principal">-->
    <br>
    <br>
    

    <!-- CONTENEDOR FORMULARIO -->
    <div class="main-container">
      <div class="form-container">

        <div class="form-title-container">
          <h3><u class="underlined-wavy">Datos</u> de contacto</h3>
          <button type="button" name="button" class="btn">AGREGAR NUEVO CONTACTO</button>
        </div>


        <form class="" action="index.hbs" method="post">

          <div class="grid-item">
            <label for="">Nombre*</label>
            <input type="text" name="" value=""  class="text-input" required>
          </div>

          <div class="grid-item">
            <label for="">Apellido*</label>
            <input type="text" name="" value="" class="text-input" required>
          </div>

          <div class="grid-item">
            <label for="">Alias</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="phone">Teléfono</label>
            <input type="tel" id="phone" name="phone" class="text-input" placeholder="1234567890" pattern="[0-9]{10}" required>
          </div>

          <div class="grid-item">
            <label for="email">E-Mail</label>
            <input type="email" name="email" value="" placeholder="email@example.com" class="text-input" required>
          </div>

          <div class="grid-item">
            <label for="">Medios de notificación*</label>
            <div class="radio-buttons">

              <div class="radio-item">
                <input type="checkbox" name="tipo-mascotaRegistrada" value="">
                <label for="">WhatsApp</label>
              </div>

              <div class="radio-item">
                <input type="checkbox" name="tipo-mascotaRegistrada" value="">
                <label for="">SMS</label>
              </div>

              <div class="radio-item">
                <input type="checkbox" name="tipo-mascotaRegistrada" value="">
                <label for="">E-Mail</label>
              </div>

            </div>
          </div> 
          <div class="grid-item">
            <label for="" style="font-size: 12px; color: #8341a2; max-width:150px;padding-right:0px;">Los campos marcados con (*) son obligatorios.</label>
          </div>
          <div class="grid-item" style="visibility:hidden;">
            <input type="text" name="" value="" class="text-input">
          </div>
          <div class="grid-item">
            <input type="submit" name="" value="GUARDAR" class="btn btn-submit">
          </div>
        </form>
      </div>
    </div>


  </body>
</html>
