<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap"
        rel="stylesheet">

    <!-- Materialice CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <meta charset="utf-8">
    <title>Rescate de Patitas</title>
</head>

<body>

    <!-- HEADER -->
    <div>
        <nav>
            <div class="nav-wrapper purple darken-4">
                <a href="/index" class="brand-logo">Rescate de patitas<i class="material-icons">pets</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Ingresar</a></li>
                    <li><a href="badges.html">Registrarse</a></li>
                </ul>
            </div>
        </nav>
        <br />
        <br />
        <div class="container">

            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/registro_de_mascota.jpg">
                            <span class="card-title ">Quiero registrar a mi mascota</span>
                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" href="/usuario/{{id}}/registrar_mascota"><i
                                    class="material-icons">pets</i></a>
                        </div>
                        <div class="card-content">
                            <p>Se le otorgara una chapita para que en caso de que se pierda tenga la información
                                necesaria para su rescate</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/mascota_perdida.jpg">
                            <span class="card-title ">Encontré a una mascota perdida</span>
                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" href="/usuario/{{id}}/rescate"><i
                                    class="material-icons">pets</i></a>
                        </div>
                        <div class="card-content">
                            <p>Puede ser el caso que la mascota necesite ayuda para encontrar a su dueño, al completar al formulario se le va a generar una publicación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/dar_en_adopcion.jpg">
                            <span class="card-title">Quiero dar en adopcion a mi mascota</span>
                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" href="/usuario/{{id}}/dar_en_adopcion"><i
                                    class="material-icons">pets</i></a>
                        </div>
                        <div class="card-content">
                            <p>Se le generara una publicacion para que alguna persona interesada pueda contactarse contigo!</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-image">
                            <img src="/img/adoptar_mascota.jpg">
                            <span class="card-title">Quiero adoptar a una mascota</span>
                            <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" href="/usuario/{{id}}/adoptar"><i
                                    class="material-icons">pets</i></a>
                        </div>
                        <div class="card-content">
                            <p>Si esta buscando un compañero puede que su mascota ideal este entre estas publicaciones! </p>
                        </div>
                    </div>
                </div>
            </div>

    

        </div>
    </div>
    </div>

</body>

</html>