<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>Rescate de Patitas ● Login</title>
  </head>
  <body>

    <!-- HEADER -->
    <header>
    </header>

    <!-- MAIN CONTAINER -->
    <div class="main-container">
      <br><br>
      <div align="center">
        <form action="/login" method="post" class="form-">
          <div class="grid-item">
            <label>Ingresá tu usuario</label>
            <input type="text" name="usuario" value="" class="text-input">
          </div>
          <div class="grid-item">
            <label>Contraseña</label>
            <input type="password" name="password" value="" class="text-input">
          </div>
          <div class="grid-item">
            <input type="submit" name="" value="INGRESAR" class="btn btn-submit">
          </div>
        </form>
      </div>
    </div>
    <!-- END MAIN CONTAINER -->
  </body>
</html>
