<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <meta charset="utf-8">
    <title>Rescate de Patitas</title>
  </head>
  <body>

    <!-- HEADER -->
    <header>
      <div>
        <!--<img src="img/logo.png" alt="logo-header">-->
        <nav class="main-nav">
          <ul>
            <li>Registrar mascotaRegistrada</li>
            <li>Adoptar mascotaRegistrada</li>
            <li>Dar en adopción</li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- IMG PRINCIPAL -->
    <!--<img src="img/imagen.png" alt="imagen-principal">-->

    <br>
    <br>


    <!-- CONTENEDOR FORMULARIO -->
    <div class="main-container">
      <div class="form-container">

        <div class="form-title-container">
          <h3><u class="underlined-wavy">Mas</u>cota perdida</h3>
          <button type="button" name="button" class="btn">INGRESAR MASCOTA PERDIDA</button>
        </div>

        <form class="" {{#if rescate}} action="/rescate/{{rescate.id}}" method="post" {{else}} action="/rescate" method="post" {{/if}}>


          <div class="grid-item">
            <label for="">Mascota*</label>
            <div class="radio-buttons">
              <div class="radio-item">
                <input type="radio" name="tipo-mascotaRegistrada" value="">
                <label for="">Gato</label>
              </div>
              <div class="radio-item">
                <input type="radio" name="tipo-mascotaRegistrada" value="">
                <label for="">Perro</label>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <label for="">Sexo*</label>
            <div class="radio-buttons">
              <div class="radio-item">
                <input type="radio" name="tipo-mascotaRegistrada" value="">
                <label for="">Hembra</label>
              </div>
              <div class="radio-item">
                <input type="radio" name="tipo-mascotaRegistrada" value="">
                <label for="">Macho</label>
              </div>              
            </div>
          </div>
          
          <div class="grid-item">
            <label for="">Edad aproximada*</label>
            <select name="" class="text-input">
              <option value=""></option>
              <option value="">Cachorro (45 días a 12 meses)</option>
              <option value="">Joven (1 a 5 años)</option>
              <option value="">Adulto (5 a 9 años)</option>
              <option value="">Abuelo (Más de 9 años)</option>
            </select>
          </div>

          <div class="grid-item">
            <label for="">Tamaño</label>
            <select name="" class="text-input">
              <option value=""></option>
              <option value="">Chica</option>
              <option value="">Mediana</option>
              <option value="">Grande</option>
            </select>
          </div>

          <div class="grid-item">
            <label for="">Características</label>
            <select name="" class="text-input">
              <option value=""></option>
              <option value="">Color principal</option>
              <option value="">Color secundario</option>
              <option value="">Otras características</option>
            </select>
          </div>

          <div class="grid-item">
            <label for="" style="visibility:hidden;">-</label>
            <input type="text" name="" value="" placeholder="Ingresar característica" class="text-input caracteristicaParaRegistro-input">
          </div>

          <div class="grid-item">
            <label for="">Describí el estado en que la encontraste:</label>
            <input type="text" name="" value="" class="text-input">
          </div>
          <div></div>
          <div></div>

          <div class="grid-item">
            <label for="">Subí al menos una fotomascota:*</label>
            <button type="button" name="button" class="btn">SUBIR FOTO</button>
          </div>
          
          <div></div>
          <div></div>

          <div class="grid-item">
            <label for="">Seleccioná en el mapa el lugar en que la encontraste:</label>
            <button type="button" name="button" class="btn">BUSCAR EN MAPA</button>
          </div>
          
          <div></div>
          <div></div>

          <div class="grid-item">
            <label for="" style="font-size: 12px; color: #8341a2; max-width:150px;padding-right:0px;">Los campos marcados con (*) son obligatorios.</label>
          </div>
          <div class="grid-item" style="visibility:hidden;">
            <input type="text" name="" value="" class="text-input">
          </div>
          <div class="grid-item">
            <input type="submit" name="" value="GUARDAR" class="btn btn-submit">
          </div>
        </form>
      </div>
    </div>


  </body>
</html>
