<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--Google fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap"
    rel="stylesheet">

  <!-- Materialice CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta charset="utf-8">
  <title>Rescate de Patitas</title>
</head>

<body>

  <!-- HEADER -->
  <div>
    <nav>
      <div class="nav-wrapper purple darken-4">
        <a href="/" class="brand-logo">Rescate de patitas</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Mascotas buscando dueño</a></li>
          <li><a href="badges.html">Mascotas perdidas</a></li>
          <li><a href="collapsible.html">Quiero adoptar</a></li>
        </ul>
      </div>
    </nav>
    <br />
    <br />
    <div class="container">
      <div class="row card">

        <div class="col s12">
          <h3><u class="underlined-wavy">Datos personales</u></h3>
        </div>
        <div class="col s12">
          <form action="/usuario" method="post">
            <div class="row">
              <div class="col s12">
                <div class="input-field col s4">
                  <input placeholder="Ej: Juan" id="nombre" type="text" class="validate" name="nombre">
                  <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Ej: Roca" id="apellido" type="text" class="validate" name="apellido">
                  <label for="apellido">Apellido</label>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field col s4">
                  <select class="browser-default" name="tipo_de_doc">
                    <option value="" disabled selected>Seleccione tipo de documento</option>
                    <option value="dni">DNI</option>
                    <option value="pasaporte">Pasaporte</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input placeholder="" id="documento" type="text" class="validate" name="nro_documento">
                  <label for="numero_doc">Numero de documento</label>
                </div>
                <div class="input-field col s4">
                  <input type="date" name="fechaNacimiento" class="text-input" name="fecha_de_nacimiento">
                  <label for="fechaNacimiento">Fecha de nacimiento</label>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field col s4">
                  <select class="browser-default" id="provincias" onchange="agregarMunicipios()" name="provincia">
                    <option value="provincia" disabled selected>Seleccione la provincia</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Ej: Centenario" id="calle" type="text" class="validate" name="calle">
                  <label for="calle">Calle</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Ej: 2478" id="altura" type="text" class="validate" name="altura">
                  <label for="altura">Altura</label>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field col s4">
                  <select class="browser-default" id="municipios" name="municipio" name="municipio">
                    <option value="" disabled selected>Seleccione municipio</option>
                  </select>
                </div>
                <div class="input-field col s4">
                  <input placeholder="Ej: 2020" id="codigo_postal" type="text" class="validate" name="codigo_postal">
                  <label for="codigo_postal">Codigo postal</label>
                </div>

              </div>

            </div>

            <div class="col s12">
              <h3><u class="underlined-wavy">Contactos</u></h3>
            </div>
            <div class="col s12">
              <div class="input-field col s4">
                <input placeholder="Ej: 2020" id="nombre" type="text" class="validate" name="nombre_contacto">
                <label for="first_name">Nombre</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="Ej: 2020" id="apellido" type="text" class="validate" name="apellido_contacto">
                <label for="first_name">Apellido</label>
              </div>
              <div class="input-field col s4">
                <input placeholder="Ej: 2020" id="telefono" type="text" class="validate" name="tel_contacto">
                <label for="telefono">Telefono</label>
              </div>
            </div>
            <div class="col s12">
              <div class="input-field col s4">
                <input placeholder="Ej: 2020" id="email" type="email" class="validate" name="email_contacto">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s4">
                <select class="browser-default" name="medio_notif">
                  <option value="" disabled selected>Seleccione medio de comunicacion</option>
                  <option value="Whatsapp">Whatsapp</option>
                  <option value="email">Email</option>
                  <option value="SMS">SMS</option>
                </select>
              </div>
              <div class="col s12">
                <div class="input field col s4">
                  <label>
                    <input type="checkbox" name="registrar_ok" />
                    <span>Crear usuario</span>
                  </label>
                </div>
              </div>
            </div>
            <br/>
            <div class="col s12">
              <div class="col s6 offset-s6">
                <button class="btn waves-effect waves-light" type="submit">Enviar
                <i class="material-icons right">send</i>
              </button>
            </div>
            </div>
          </form>
        </div>
      </div>


    </div>
  </div>
  </div>
  <!-- Custom scripts-->
  <script type="text/javascript" src="./js/scripts.js"></script>
  <!-- Custom css-->
  <link rel="stylesheet" href="./css/styles.css">
</body>

</html>