<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <meta charset="utf-8">
    <title>Rescate de Patitas</title>
  </head>
  <body>

    <!-- HEADER -->
    <header>
      <div>
        <!--<img src="img/logo.png" alt="logo-header">-->
        <nav class="main-nav">
          <ul>
            <li>Registrar mascotaRegistrada</li>
            <li>Adoptar mascotaRegistrada</li>
            <li>Dar en adopción</li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- IMG PRINCIPAL -->
    <!--<img src="img/imagen.png" alt="imagen-principal">-->

    <br>
    <br>

    <!-- CONTENEDOR FORMULARIO -->
    <div class="main-container">
      <div class="form-container">

        <div class="form-title-container">
          <h3><u class="underlined-wavy">Datos</u> personales</h3>
          <button type="button" name="button" class="btn">INGRESAR DATOS</button>
        </div>
        <form class="" action="index.hbs" method="post">

          <div class="grid-item">
            <label for="">Nombre*</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Segundo nombre</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Apellido*</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Tipo de documento*</label>
            <select name="" class="text-input">
              <option value="">D.N.I. - Documento Nacional de Identidad</option>
              <option value="">L.C. - Libreta Cívica</option>
              <option value="">L.E. - Libreta de Enrolamiento</option>
              <option value="">C.I. - Cédula de Identidad</option>
              <option value="">Pasaporte</option>
            </select>
          </div>

          <div class="grid-item">
            <label for="">Número de documento*</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Fecha de nacimiento*</label>
            <input type="date" name="" class="text-input">
          </div>
          
          <div class="grid-item">
            <label for="">Calle*</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Altura*</label>
            <input type="text" name="" value=""  class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Piso/Dpto.</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Código postal*</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Localidad*</label>
            <input type="text" name="" value="" class="text-input">
          </div>

          <div class="grid-item">
            <label for="">Provincia*</label>
            <input type="text" name="" value="" class="text-input">
          </div>  
            
  
            <div class="grid-item">
              <label for="" style="font-size: 12px; color: #8341a2; max-width:150px;padding-right:0px;">Los campos marcados con (*) son obligatorios.</label>
            </div>
            <div class="grid-item" style="visibility:hidden;">
              <input type="text" name="" value="" class="text-input">
            </div>
            <div class="grid-item">
              <input type="submit" name="" value="GUARDAR" class="btn btn-submit">
            </div>
          </form>
        </div>
    </div>


    

  </body>
</html>
